body{
    background-color: #01939A;
    color: #ff7600;
    font-family: Arial;
    margin: 0px;
}

a{
    text-decoration: none;
}
a:link{
    color:  cyan;
    text-shadow: 5px 5px 5px #004D98;
}
a:visited{
    color: purple;
    text-shadow: 5px 5px 5px rgb(75, 23, 75);
}
a:hover{
    color: red;
    text-decoration: underline;
    background: linear-gradient(to left,#004D98,#A50044,#004D98,#A50044,#004D98,#A50044,#004D98,#A50044,#004D98,#A50044,#004D98,#A50044,#004D98,#A50044,#004D98,#A50044,#004D98,#A50044);
    text-shadow: 5px 5px 5px rgb(173, 36, 36);
}
a:active{
    color: black;
    opacity: 0.3;
}

main{
    font-size: 14pt;
    
}
header{
    font-size: 14pt;
    background-color:#006064;
    border-radius: 10px;
    padding: 10px;
}

footer{
    background-color: #ff7600;
    color: #006064;
    font-size: 12pt;
    font-style: italic;
    text-align: right;
    padding: 10px;

}
