body{
    background-color: #01939A;
    color: #ff7600;
    font-family: Arial;
    margin: 0px;
}

a{
    text-decoration: none;
    transition: 1s 2s;
}
a:link{
    color:  cyan;
    text-shadow: 5px 5px 5px #004D98;
}
a:visited{
    color: purple;
    text-shadow: 5px 5px 5px rgb(75, 23, 75);
}
a:hover{
    color: red;
    text-decoration: underline;
    background: linear-gradient(to left,#004D98,#A50044,#004D98,#A50044,#004D98,#A50044,#004D98,
    #A50044,#004D98,#A50044,#004D98,#A50044,#004D98,#A50044,#004D98,#A50044,#004D98,#A50044);
    text-shadow: 5px 5px 5px rgb(173, 36, 36);
    transition: 0.3s;
}
a:active{
    color: black;
    opacity: 0.3;
}
h1.menu{
    text-align: center;
}
div.menu{
    border: 7px solid #00606480;
    border-radius: 5px;
    width: 300px;
    margin: 0 auto;
}
div.menu:hover{
    background-color: #ffffff30;
    box-shadow: 0 0 15px #00000030;
}
main{
    font-size: 14pt;
    margin: 10px 18px 28px;
    
}
header{
    font-size: 14pt;
    background-color:#006064;
    border-radius: 10px;
    padding: 10px;
}

footer{
    background-color: #ff7600;
    color: #006064;
    font-size: 12pt;
    font-style: italic;
    text-align: right;
    padding: 10px;
    position: fixed;
    bottom: 0;
    right: 0;
    left: 0;
}
